<h1>アイドルグループ私立恵比寿中学（通称：エビ中）のこの曲・このメンバーの ここが好き！を投稿・共有するアプリです。</h1>

<%= link_to "ユーザー登録して投稿してみよう！", signup_path %>

<p><% @posts.each do |post| %></p>
  <%= post.song %>
  <%= post.member %>
  <%= post.comment %>
  <%= time_ago_in_words(post.created_at) %> ago.
<% end %>