<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to image_tag("logo.jpeg", :class => "logo"), :action => "index", :controller=>"posts" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>投稿一覧</li>
        <li>曲別投稿一覧</li>
        <li>メンバー別投稿一覧</li>
        <% if logged_in? %>
          <li><%= link_to "ユーザ一覧", users_path %></li>
          <li><%= link_to "新規投稿", new_post_path %></li>
          <li><%= link_to "#{current_user.name}さんのマイページ", current_user %></li>
          <li><%= link_to "#{current_user.name}さんの設定変更", edit_user_path(current_user) %></li>
          <li>
            <%= link_to "ログアウト", logout_path, method: :delete %>
          </li>
        <% else %>
          <li><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>